:root {
  box-sizing: border-box;
  ;
}

* {
  margin: 0;
  padding: 0;
}

.player-buttons {
  border: none;
  padding: 3em;
  width: 100px;
  border-radius: 50%;

}

#rock {
  background-image: url("./images/rock.svg");
  background-size: cover;
}

.arena img {
  width: 100px;
}

#paper {
  background-image: url("./images/paper.svg");
  background-size: cover;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player>section {
  display: flex;
  gap: 1em;
}

#scissors {
  background-image: url("./images/scissors.svg");
  background-size: cover;
}

.arena-images-animation {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateY(-9px)
  }

  35% {
    transform: translateY(-9px) rotate(17deg)
  }

  55% {
    transform: translateY(-9px) rotate(-17deg)
  }

  65% {
    transform: translateY(-9px) rotate(17deg)
  }

  75% {
    transform: translateY(-9px) rotate(-17deg)
  }

  100% {
    transform: translateY(0) rotate(0)
  }
}

img {
  max-width: 200px;
}

.hidden {
  visibility: hidden;
}



main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 2em;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

footer {
  margin: 1em;
}

.opponentImage {
  transform: scaleX(-1);
}

.arena {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  min-width: 300px;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}